In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('../Deeplearning/Datasets/Covid Data.csv')

In [3]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [5]:
df.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,7.952288e+01,3.346831e+00,4.179410e+01,4.976558e+01,2.186404e+00,2.260569e+00,2.242626e+00,2.298132e+00,2.128989e+00,2.435143e+00,2.261810e+00,2.125176e+00,2.257180e+00,2.214333e+00,5.305653e+00,7.955397e+01
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.686889e+01,1.191288e+01,1.690739e+01,4.751073e+01,5.424242e+00,5.132258e+00,5.114089e+00,5.462843e+00,5.236397e+00,6.646676e+00,5.194850e+00,5.175445e+00,5.135354e+00,5.323097e+00,1.881165e+00,3.682307e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00,9.700000e+01
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,9.700000e+01
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,7.000000e+00,9.900000e+01

In [6]:
df.isnull().sum().sum()

0

In [7]:
df['CLASIFFICATION_FINAL'] = df['CLASIFFICATION_FINAL'].replace([1,2,3], 1)
df['CLASIFFICATION_FINAL'] = df['CLASIFFICATION_FINAL'].replace([4,5,6,7], 0)

In [8]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,1,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,0,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,1,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,0,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,1,97

In [9]:
df.drop(['DATE_DIED'],axis=1,inplace=True)

In [10]:
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,1,97
1,2,1,2,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,0,97
2,2,1,2,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,1,2
3,2,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,0,97
4,2,1,2,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,1,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,97,2,40,97,2,2,2,2,2,2,2,2,2,2,0,97
1048571,1,13,2,2,2,2,51,97,2,2,2,2,1,2,2,2,2,2,0,2
1048572,2,13,2,1,97,2,55,97,2,2,2,2,2,2,2,2,2,2,0,97
1048573,2,13,2,1,97,2,28,97,2,2,2,2,2,2,2,2,2,2,0,97
1048574,2,13,2,1,97,2,52,97,2,2,2,2,2,2,2,2,2,2,0,97

In [11]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,1,97
1,2,1,2,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,0,97
2,2,1,2,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,1,2
3,2,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,0,97
4,2,1,2,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,1,97

In [12]:
X=df.drop('CLASIFFICATION_FINAL',axis=1)
Y=df['CLASIFFICATION_FINAL']

In [13]:
X

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,2,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,2,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,1,2,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,2,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,2,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,1,13,2,2,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,13,2,1,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,13,2,1,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,13,2,1,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=32)

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [16]:
df.shape

(1048575, 20)

In [17]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import ReLU,PReLU

In [18]:
classif=Sequential()

In [19]:
classif.add(Dense(units=20,activation=PReLU()))

In [20]:
classif.add(Dense(units=14,activation=ReLU()))
classif.add(Dropout(0.33))

In [21]:
classif.add(Dense(units=11,activation=ReLU()))
classif.add(Dropout(0.2))

In [22]:
classif.add(Dense(units=6,activation=PReLU()))
classif.add(Dropout(0.25))

In [23]:
classif.add(Dense(1,activation='sigmoid'))

In [24]:
classif.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [25]:
import tensorflow 
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [26]:
import tensorflow as tf
early_stops=tf.keras.callbacks.EarlyStopping(
    monitor='val_loss',
    min_delta=0.02,
    patience=40,
    verbose=1,
    mode='auto',
    baseline=None,
    restore_best_weights=True
)

In [27]:
model_his=classif.fit(X_train,Y_train,batch_size=5000,validation_split=0.22,epochs=200,callbacks=early_stops)

Epoch 1/200
131/131 [==============================] - 5s 18ms/step - loss: 0.6579 - accuracy: 0.6279 - val_loss: 0.6385 - val_accuracy: 0.6432
Epoch 2/200
131/131 [==============================] - 1s 10ms/step - loss: 0.6421 - accuracy: 0.6419 - val_loss: 0.6330 - val_accuracy: 0.6617
Epoch 3/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6373 - accuracy: 0.6463 - val_loss: 0.6327 - val_accuracy: 0.6630
Epoch 4/200
131/131 [==============================] - 2s 14ms/step - loss: 0.6354 - accuracy: 0.6487 - val_loss: 0.6304 - val_accuracy: 0.6632
Epoch 5/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6339 - accuracy: 0.6499 - val_loss: 0.6300 - val_accuracy: 0.6630
Epoch 6/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6328 - accuracy: 0.6500 - val_loss: 0.6295 - val_accuracy: 0.6636
Epoch 7/200
131/131 [==============================] - 2s 12ms/step - loss: 0.6320 - accuracy: 0.6519 - val_loss: 0.6292 - val_accuracy: 0.6640
Epoch 8/200
131/131 [==============================] - 2s 15ms/step - loss: 0.6317 - accuracy: 0.6537 - val_loss: 0.6278 - val_accuracy: 0.6641
Epoch 9/200
131/131 [==============================] - 2s 14ms/step - loss: 0.6309 - accuracy: 0.6549 - val_loss: 0.6274 - val_accuracy: 0.6642
Epoch 10/200
131/131 [==============================] - 2s 15ms/step - loss: 0.6299 - accuracy: 0.6561 - val_loss: 0.6263 - val_accuracy: 0.6651
Epoch 11/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6295 - accuracy: 0.6568 - val_loss: 0.6263 - val_accuracy: 0.6646
Epoch 12/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6292 - accuracy: 0.6566 - val_loss: 0.6256 - val_accuracy: 0.6657
Epoch 13/200
131/131 [==============================] - 2s 13ms/step - loss: 0.6286 - accuracy: 0.6573 - val_loss: 0.6261 - val_accuracy: 0.6661
Epoch 14/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6282 - accuracy: 0.6579 - val_loss: 0.6240 - val_accuracy: 0.6657
Epoch 15/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6279 - accuracy: 0.6579 - val_loss: 0.6237 - val_accuracy: 0.6663
Epoch 16/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6277 - accuracy: 0.6585 - val_loss: 0.6245 - val_accuracy: 0.6667
Epoch 17/200
131/131 [==============================] - 2s 11ms/step - loss: 0.6271 - accuracy: 0.6593 - val_loss: 0.6240 - val_accuracy: 0.6670
Epoch 18/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6270 - accuracy: 0.6594 - val_loss: 0.6241 - val_accuracy: 0.6667
Epoch 19/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6269 - accuracy: 0.6593 - val_loss: 0.6234 - val_accuracy: 0.6673
Epoch 20/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6267 - accuracy: 0.6594 - val_loss: 0.6233 - val_accuracy: 0.6668
Epoch 21/200
131/131 [==============================] - 1s 10ms/step - loss: 0.6267 - accuracy: 0.6592 - val_loss: 0.6240 - val_accuracy: 0.6669
Epoch 22/200
131/131 [==============================] - 2s 14ms/step - loss: 0.6264 - accuracy: 0.6604 - val_loss: 0.6246 - val_accuracy: 0.6671
Epoch 23/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6264 - accuracy: 0.6602 - val_loss: 0.6235 - val_accuracy: 0.6674
Epoch 24/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6262 - accuracy: 0.6606 - val_loss: 0.6236 - val_accuracy: 0.6670
Epoch 25/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6261 - accuracy: 0.6605 - val_loss: 0.6236 - val_accuracy: 0.6673
Epoch 26/200
131/131 [==============================] - 1s 10ms/step - loss: 0.6260 - accuracy: 0.6603 - val_loss: 0.6240 - val_accuracy: 0.6674
Epoch 27/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6259 - accuracy: 0.6605 - val_loss: 0.6241 - val_accuracy: 0.6671
Epoch 28/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6261 - accuracy: 0.6606 - val_loss: 0.6241 - val_accuracy: 0.6666
Epoch 29/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6258 - accuracy: 0.6604 - val_loss: 0.6238 - val_accuracy: 0.6666
Epoch 30/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6258 - accuracy: 0.6606 - val_loss: 0.6229 - val_accuracy: 0.6671
Epoch 31/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6256 - accuracy: 0.6610 - val_loss: 0.6240 - val_accuracy: 0.6672
Epoch 32/200
131/131 [==============================] - 2s 12ms/step - loss: 0.6253 - accuracy: 0.6615 - val_loss: 0.6239 - val_accuracy: 0.6674
Epoch 33/200
131/131 [==============================] - 2s 14ms/step - loss: 0.6257 - accuracy: 0.6611 - val_loss: 0.6233 - val_accuracy: 0.6676
Epoch 34/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6254 - accuracy: 0.6612 - val_loss: 0.6241 - val_accuracy: 0.6675
Epoch 35/200
131/131 [==============================] - 2s 15ms/step - loss: 0.6254 - accuracy: 0.6614 - val_loss: 0.6244 - val_accuracy: 0.6675
Epoch 36/200
131/131 [==============================] - 2s 12ms/step - loss: 0.6254 - accuracy: 0.6615 - val_loss: 0.6236 - val_accuracy: 0.6675
Epoch 37/200
131/131 [==============================] - 2s 12ms/step - loss: 0.6251 - accuracy: 0.6615 - val_loss: 0.6234 - val_accuracy: 0.6675
Epoch 38/200
131/131 [==============================] - 2s 15ms/step - loss: 0.6254 - accuracy: 0.6615 - val_loss: 0.6251 - val_accuracy: 0.6673
Epoch 39/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6250 - accuracy: 0.6617 - val_loss: 0.6233 - val_accuracy: 0.6674
Epoch 40/200
131/131 [==============================] - 1s 11ms/step - loss: 0.6252 - accuracy: 0.6618 - val_loss: 0.6235 - val_accuracy: 0.6676
Epoch 41/200
129/131 [============================>.] - ETA: 0s - loss: 0.6251 - accuracy: 0.6619Restoring model weights from the end of the best epoch: 1.
131/131 [==============================] - 1s 11ms/step - loss: 0.6251 - accuracy: 0.6618 - val_loss: 0.6237 - val_accuracy: 0.6672
Epoch 41: early stopping

In [28]:
model_his.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [29]:
y_pred=classif.predict(X_test)
y_pred=(y_pred>=0.4)

6554/6554 [==============================] - 14s 2ms/step

In [30]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)
cm

array([[82101, 49068],
       [35472, 43074]], dtype=int64)

In [31]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(Y_test,y_pred)
ac

0.5968814820113011

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from xgboost import XGBClassifier
from sklearn.metrics import classification_report,accuracy_score

In [36]:
lr=LogisticRegression()
lr.fit(X_train,Y_train)
y_pred=lr.predict(X_test)

print(accuracy_score(Y_test,y_pred))
print(classification_report(Y_test,y_pred))

d:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6606775862480032
              precision    recall  f1-score   support

           0       0.67      0.91      0.77    131169
           1       0.62      0.25      0.35     78546

    accuracy                           0.66    209715
   macro avg       0.64      0.58      0.56    209715
weighted avg       0.65      0.66      0.61    209715

In [37]:
rf=RandomForestClassifier()
rf.fit(X_train,Y_train)
y_pred=rf.predict(X_test)

print(accuracy_score(Y_test,y_pred))
print(classification_report(Y_test,y_pred))

0.6533152135040412
              precision    recall  f1-score   support

           0       0.67      0.88      0.76    131169
           1       0.58      0.27      0.37     78546

    accuracy                           0.65    209715
   macro avg       0.62      0.58      0.56    209715
weighted avg       0.64      0.65      0.61    209715

In [38]:
gb=GaussianNB()
gb.fit(X_train,Y_train)
y_pred=gb.predict(X_test)

print(accuracy_score(Y_test,y_pred))
print(classification_report(Y_test,y_pred))

0.5233960374794364
              precision    recall  f1-score   support

           0       0.70      0.41      0.52    131169
           1       0.42      0.71      0.53     78546

    accuracy                           0.52    209715
   macro avg       0.56      0.56      0.52    209715
weighted avg       0.60      0.52      0.52    209715

In [40]:
xg=XGBClassifier()
xg.fit(X_train,Y_train)
y_pred=xg.predict(X_test)

print(accuracy_score(Y_test,y_pred))
print(classification_report(Y_test,y_pred))

0.6697899530314951
              precision    recall  f1-score   support

           0       0.68      0.91      0.78    131169
           1       0.64      0.27      0.38     78546

    accuracy                           0.67    209715
   macro avg       0.66      0.59      0.58    209715
weighted avg       0.66      0.67      0.63    209715