In [ ]:
list1=[1,2,3,4,3,5,2,2,6,4,7,8]
newlist=list(set(list1))

for num in newlist:
  if list1.count(num)>=3:
    print(num)

In [ ]:
import datetime

time=datetime.datetime.now()
print(time)

In [ ]:
import math

r=float(input())
area=math.pi* r**2

print(area)

In [ ]:
first=str(input())
last=str(input())
name=first+last
print(name[::-1])

In [ ]:
l1=['3', ' 5', ' 7', ' 23']
t=tuple(l1)
print(t)

In [ ]:
color_list = ["Red","Green","White" ,"Black"]

print("%s, %s"%(color_list[0],color_list[3]))

In [ ]:
exam_st_date = (11, 12, 2014)
print('%i/%i/%i'%(exam_st_date))

In [ ]:
n=int(input())
n_str = str(n)
nn = int(n_str * 2)
nnn = int(n_str * 3)
result = n + nn + nnn
print(result)

In [ ]:
from datetime import datetime

d1=datetime(2014, 7, 2)
d2=datetime(2014, 7, 11)

diff=d2-d1

dt=diff.days

print(dt)

In [ ]:
prev_num=0

for num in range(0,11):
  sum=prev_num+num
  print("Current Number", num, "Previous Number ", prev_num, " Sum: ", sum)
  prev_num=num

In [ ]:
st="pynative"

x=list(st)
for i in x[0::2]:
  print(i)

In [ ]:
st="pynative"

def remove_chars(st, num):
  x = st[num:]
  return x

print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

In [ ]:
def first_last_same(num):
    first=num[0]
    last=num[-1]
    if first==last:
      return True
    return False

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

In [ ]:
l1=[10, 20, 33, 46, 55]

for i in l1:
  if i%5==0:
    print(i)

In [ ]:
str_x = "Emma is good developer. Emma is a writer"

cnt=str_x.count('Emma')
print(cnt)

In [ ]:
for num in range(10):
  for j in range(num):
    print(j,end='')
  print('\n')

In [ ]:
def solution(num):
  num_str=str(num)
  return num_str==num_str[::-1]

palindrom=solution(125)
if palindrom:
  print('Yes. given number is palindrome number')
else:
  print('No. given number is not palindrome number')

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

new_list=[x for x in list1 if x%2!=0]+[x for x in list2 if x%2==0]
print(new_list)

In [ ]:
number=7536
print(' '.join(reversed(str(number))))

In [ ]:
base=2
exponent = 5
print(base**exponent)

In [ ]:
sum=0
for n in range(1,11):
  sum+=n
print(sum)

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    elif item % 5 == 0:
        print(item)

In [ ]:
number = 75869
print(len(str(number)))

In [ ]:
list1 = [10, 20, 30, 40, 50]

new_list=reversed(list1)

for num in new_list:
  print(num)

In [ ]:
for n in range(-10,0):
  print(n)

In [ ]:
num1, num2 = 0, 1
for i in range(10):
    print(num1, end="  ")
    res = num1 + num2
    num1 = num2
    num2 = res

In [ ]:
import math
n=5
print(math.factorial(n))

In [ ]:
num=76542
str_num=str(num)
print(str_num[::-1])

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for num in my_list[1::2]:
  print(num)

In [ ]:
input_number = 6
for num in range(input_number):
  print(num*num*num)

In [ ]:
n = 5

series=sum(int('2'*i) for i in range(1,n+1))
print(series)

In [ ]:
def func1(*args):
  for i in args:
    print(i)

func1(20, 40, 60)

In [ ]:
def calculation(a, b):
  return a+b, a-b

res = calculation(40, 10)
print(res)

In [ ]:
def show_employee(name,salary=9000):
  print(name,salary)

show_employee("Ben", 12000)
show_employee("Jessa")

In [ ]:
def outer(a,b):
  square=a**2

  def addition(a,b):
    return a+b

  add=addition(a,b)
  return add+5
res=outer(5,10)
print(res)

In [ ]:
str1 = "James"

new_str=str1[0]+str1[len(str1)//2]+str1[-1]
print(new_str)

In [ ]:
str1 = "JhonDipPeta"
mid_str=len(str1)//2
new_str=str1[mid_str-1:mid_str+2]
print(new_str)

In [ ]:
s1 = "Ault"
s2 = "Kelly"

mid_str=len(s1)//2
s3=s1[:mid_str]+s2+s1[mid_str:]
print(s3)

In [ ]:
s1 = "America"
s2 = "Japan"
new_str=s1[0]+s2[0]+s1[len(s1)//2]+s2[len(s2)//2]+s1[-1]+s2[-1]
print(new_str)

In [ ]:
str1 = 'PyNaTive'

def arrange(str1):
  lower=""
  upper=""

  for char in str1:
    if char.islower():
      lower+=char
    elif char.isupper():
      upper+=char

  arrangestr=lower+upper
  return arrangestr

result=arrange(str1)
print(result)

In [ ]:
str1 = "P@#yn26at^&i5ve"

letters=sum(1 for char in str1 if char.isalpha())
digits=sum(1 for char in str1 if char.isdigit())
specials=sum(1 for char in str1 if not char.isalnum())

print("letters:", letters, "digits:", digits, 'specials:', specials)

In [ ]:
s1 = "Abc"
s2 = "Xyz"
s3=''.join([x+y for x,y in zip(s1,reversed(s2))])+s1[len(s2):]+s2[len(s1):]
print(s3)

In [ ]:
s1 = "Ynf"
s2 = "PYnative"

result=all(ch in s2 for ch in s1)
print(result)

In [ ]:
import re
str1 = "Welcome to USA. usa awesome, isn't it?"

counts=re.findall(r'USA',str1,re.IGNORECASE)
print(len(counts))

In [ ]:
import re
str1 = "PYnative29@#8496"
sum_avg=re.findall(r'\d',str1,)
digits=[int(digit) for digit in sum_avg]

sum_dig=sum(digits)
avg_digit=sum_dig/len(digits) if digits else 0

print(avg_digit)

In [ ]:
import re
str1 = "Apple"
coun={char:len(re.findall(char,str1)) for char in str1}
print(coun)

In [ ]:
str1 = "PYnative"
revers=str1[::-1]
print(revers)

In [ ]:
str1 = "Emma-is-a-data-scientist"
sub_st=str1.split('-')

for sub in sub_st:
  print(sub)

In [ ]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

odd=l1[1::2]
even=l2[0::2]

res=list()
res.extend(odd)
res.extend(even)
print(res)

In [ ]:
list1 = [54, 44, 27, 79, 91, 41]
element=list1.pop(4)
list1.insert(2,element)
list1.append(element)

print(list1)