In [1]:
from pymongo import MongoClient
from dotenv import load_dotenv
import os

load_dotenv()

uri=os.getenv("MONGODB_URI")

try:
  client=MongoClient(uri)
  print("connect successfully")
except:
  print("cannot reach to mongodb")

connect successfully

In [2]:
db=client["sample_db"]
db

Database(MongoClient(host=['cluster0-shard-00-02.g1bcg.mongodb.net:27017', 'cluster0-shard-00-01.g1bcg.mongodb.net:27017', 'cluster0-shard-00-00.g1bcg.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-bwu0y3-shard-0', tls=True), 'sample_db')

In [ ]:
my_collections=db.create_collection("actress_collection")

In [ ]:
db.list_collection_names()

# Insert One Record

In [12]:
acctress_record={
    "_id":1,
    "name":"Rambha",
    "Age":47,
    "number_of_films":54,
    "best_films_list":["Arunachalam","Bavagaru Bagunara","Yevandoi avidochinidi","A okti Adakku"]
}

In [13]:
rec_1=my_collections.insert_one(acctress_record)

In [15]:
acctress_record2={
    "_id":2,
    "name":"Kajal Agarwal",
    "Age":39,
    "number_of_films":27,
    "best_films_list":["Darling","Mr.Perfect","Magadheera","Chandamama"]
}

In [16]:
rec_2=my_collections.insert_one(acctress_record2)

In [17]:
acctress_records={
    "record_1":{
        "_id":3,
        "name":"Ramya Krishna",
        "Age":45,
        "number_of_films":123,
        "best_films_list":["Narashima","Neelambari","Bhahubali","Bangraju"]
    },
    "record_2":{
        "_id":4,
        "name":"Trisha",
        "Age":47,
        "number_of_films":78,
        "best_films_list":["Bujjigadu","Krishna","Athadu"]
    }
}
for record in acctress_records.values():
    my_collections.insert_one(record)

# insert Many Record

In [ ]:
student_collections=db.create_collection("Student_collections")

In [ ]:
student_lst=[
    {"_id":1,"name":"Vishwa","Roll_no":2001,"Branch":"Mech"},
    {"_id":2,"name":"Sravani","Roll_no":2103,"Branch":"CSE"},
    {"_id":3,"name":"Giri","Roll_no":2014,"Branch":"Civil"},
    {"_id":4,"name":"Bhanu","Roll_no":2002,"Branch":"ECE"},
    {"_id":5,"name":"Lavanya","Roll_no":2000,"Branch":"Mech"},
    
]

student_collections.insert_many(student_lst)

# Insert Record Automate Id

In [ ]:
student_lst1=[
    {"name":"Bhairav","Roll_no":3033,"Branch":"AIML"},
    {"name":"Guna","Roll_no":1021,"Branch":"DataEnginneer"},
]
student_collections.insert_many(student_lst1)

In [ ]:
student_collections=db["Student_collections"]

add_one_more_rec={"name":"Sravani","Roll_no":1011,"Branch":"EEE"}

student_collections.insert_one(add_one_more_rec)

In [ ]:
cursor = student_collections.find() 
for record in cursor: 
    print(record)

# Update One Record

In [ ]:
student_collections=db["Student_collections"]

filter={"_id":4}

update_value={"$set":{"name":"Bhanumathi"}}

student_collections.update_one(filter,update_value)

cursor = student_collections.find()
for record in cursor: 
    print(record)

# Update Many Record

In [ ]:
actress_record=db['actress_collection']

actress_record.update_many({"number_of_films":{"$lt":100}},
                           {"$set":{"Age":30}})

cursor=actress_record.find()
for record in cursor:
    print(record)

# Replace one record

In [ ]:
replace_one_actress_record=actress_record.replace_one(
   {"_id":3},{
       "name":"Ramyakrishna",
       "Age":50,
       "number_of_films":137,
       "best_films_list":["Super Deluxe","Ammoru","Mahanubhavudu","jailer"]
   }
   
)

cursor=actress_record.find()

for record in cursor:
    print(record)

# delete Collections

In [34]:
new_collection=db.create_collection("employee_collection")

In [35]:
db["employee_collection"].drop()

# Delete collections Record

In [31]:
student_collection=db["Student_collections"]

delete_student_one_record=student_collection.delete_one({
    "_id":4
})

# delete _many_record

In [ ]:
delete_student_more_record=student_collection.delete_many(
    {"name":{"$regex":"^G"}}
)
delete_student_more_record.deleted_count

# Find_one and Update

In [5]:
doc=db["Student_collections"]

filter={"name":"Sravani"}

find_one_and_update={'$set':{"Branch":"Mech"}}

res=doc.find_one_and_update(filter,find_one_and_update)

cursor=doc.find()

for rec in cursor:
    print(rec)

{'_id': 1, 'name': 'Vishwa', 'Roll_no': 2001, 'Branch': 'Mech'}
{'_id': 2, 'name': 'Sravani', 'Roll_no': 2103, 'Branch': 'Mech'}
{'_id': 5, 'name': 'Lavanya', 'Roll_no': 2000, 'Branch': 'Mech'}
{'_id': ObjectId('6781f10c0bead7bf319efcaf'), 'name': 'Bhairav', 'Roll_no': 3033, 'Branch': 'AIML'}
{'_id': ObjectId('678345b2772125790366d2af'), 'name': 'Sravani', 'Roll_no': 1011, 'Branch': 'EEE'}

In [9]:
from pymongo import ReturnDocument
filter={"name":"Bhairav"}

find_one_and_updates={"$set":{"name":"Bhairavi","Branch":"ECE"}}

res=doc.find_one_and_update(filter,find_one_and_updates,return_document=ReturnDocument.AFTER)

cursor=doc.find()

for rec in cursor:
    print(rec)

{'_id': 1, 'name': 'Vishwa', 'Roll_no': 2001, 'Branch': 'Mech'}
{'_id': 2, 'name': 'Sravani', 'Roll_no': 2103, 'Branch': 'Mech'}
{'_id': 5, 'name': 'Lavanya', 'Roll_no': 2000, 'Branch': 'Mech'}
{'_id': ObjectId('6781f10c0bead7bf319efcaf'), 'name': 'Bhairavi', 'Roll_no': 3033, 'Branch': 'ECE'}
{'_id': ObjectId('678345b2772125790366d2af'), 'name': 'Sravani', 'Roll_no': 1011, 'Branch': 'EEE'}

# find_one and Delete

In [14]:
collection=db["actress_collection"]
filter={"number_of_films":{"$lt":30}}
find_one_delete=collection.find_one_and_delete(filter)

cursor=collection.find()

for rec in cursor:
    print(rec)

{'_id': 1, 'name': 'Rambha', 'Age': 30, 'number_of_films': 54, 'best_films_list': ['Arunachalam', 'Bavagaru Bagunara', 'Yevandoi avidochinidi', 'A okti Adakku']}
{'_id': 3, 'name': 'Ramyakrishna', 'Age': 50, 'number_of_films': 137, 'best_films_list': ['Super Deluxe', 'Ammoru', 'Mahanubhavudu', 'jailer']}
{'_id': 4, 'name': 'Trisha', 'Age': 30, 'number_of_films': 78, 'best_films_list': ['Bujjigadu', 'Krishna', 'Athadu']}

# find_one and replace

In [18]:
filter={"name":"Trisha"}
collection.find_one_and_replace(filter,{"name":"TrishaKrishnan"})

for x in collection.find({},{"_id":0,"name":1,"Age":1,"number_of_films":1,"best_films_list":1}):
    print(x)

{'name': 'Rambha', 'Age': 30, 'number_of_films': 54, 'best_films_list': ['Arunachalam', 'Bavagaru Bagunara', 'Yevandoi avidochinidi', 'A okti Adakku']}
{'name': 'Ramyakrishna', 'Age': 50, 'number_of_films': 137, 'best_films_list': ['Super Deluxe', 'Ammoru', 'Mahanubhavudu', 'jailer']}
{'name': 'TrishaKrishnan'}